<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/stylesheets/login.css" />

    <title>ControlFood | Cadastro de usuário</title>
  </head>
  <body>
    <div class="login__container login__card">
      <figure class="login__logo">
        <img src="../public/images/logo.svg" alt="Logo ControlFood" />
      </figure>

      <form class="login__form">
        <label for="login__form--username"></label>
        <input
          type="text"
          class="login__form--username login__form--item"
          name="login__form--username"
          placeholder="nome"
        />
        <label for="login__form--email"></label>
        <input
          type="text"
          class="login__form--email login__form--item"
          name="login__form--email"
          placeholder="email"
        />
        <label for="login__form--password"></label>
        <input
          type="text"
          class="login__form--password login__form--item"
          name="login__form--password"
          placeholder="senha"
        />
        <input type="button" class="login__form--button" value="entrar" />
      </form>
    </div>

    <footer>
        <a href="/controlfood/index.html">Voltar</a>
      </footer>
  </body>
</html>
