@import url('/public/stylesheets/utils/variables.css');

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-01);
}

.sidebar {
  background-color: #01c2ff;
  width: 176px;
  height: 848px;
  float: left;
}

.sidebar_logo {
  text-align: center;
}

.sidebar_logo img {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 38px;
}

.sidebar_content ul {
  list-style: none;
}

.sidebar_content ul li {
  width: 160px;
  height: 46px;
  float: right;
}

.sidebar_content ul li a {
  width: 62px;
  height: 29px;
  text-decoration: none;
  padding-left: 43px;
  padding-right: 54px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.49);
  float: right;
  text-align: center;
}

.sidebar_content ul li img {
  position: absolute;
  padding-left: 92px;
}

.sidebar_content ul li :hover {
  background-color: #f5f7fb;
  border-radius: 37px 0px 0px 37px;
}

.produtos li {
  background-color: #f5f7fb;
  border-radius: 37px 0px 0px 37px;
}

.main_content {
  width: auto;
  height: 848px;
  background-color: #f5f7fb;
  margin-left: 176px;
}

.card {
  margin-left: var(--spacing-rg);
  width: var(--full-width);
  height: 428px;
  background: var(--white);
  box-shadow: var(--dropshadow);
  border-radius: var(--radius-rg);
}

.title {
  text-align: center;
  padding-top: var(--spacing-rg);
  font-weight: var(--semi-bold);
  font-size: var(--font-rg);
  align-items: center;
  color: var(--dark-blue);
}

.search_box {
  /* TO DO: MAKE INLINE MARGINS */
  margin-top: var(--spacing-rg);
  margin-bottom: var(--spacing-rg);
  margin-left: auto;
  margin-right: auto;
  width: 894px;
  height: 44px;
  background: var(--background-grey);
  border-radius: var(--radius-rg);
}

.search_txt {
  position: absolute;
  background: transparent;
  padding-top: var(--spacing-rg);
  padding-left: var(--spacing-s);
  border: none;
  outline: none;
  font-weight: var(--light);
  font-size: var(--font-rg);
  line-height: var(--height-rg);
}

#img_pesquisa {
  padding-left: var(--spacing-rg);
  padding-top: 12px;
}

.table {
  margin-top: var(--spacing-l);
  position: absolute;
  width: 1150px;
  height: 240px;
  left: 250px;
  top: 134px;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 95%;
  text-align: center;
}

thead {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-left: 32px;
  padding-right: 44px;
}

tbody {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

table th,
td {
  padding: 1px 5px;
}

table td img {
  width: 22px;
  padding-top: 7px;
}

.button {
  position: absolute;
  width: 105px;
  height: 31px;
  left: 1200px;
  top: 400px;
  background-color: var(--background-grey);
  border: 1px solid var(--black);
  box-sizing: border-box;
  border-radius: var(--radius-s);
}

#add button {
  font-weight: var(--regular);
  font-size: var(--font-rg);
  line-height: var(--height-rg);
  padding-left: 16px;
  padding-top: 4px;
  border: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}

.content {
  display: block;
  height: 230px;
  overflow-y: auto;
}

.tab_prod tr {
  display: block;
}

td,
th {
  height: 40px;
}

tr:nth-child(even) {
  background: #ddd;
}

#remove_tab {
  padding-left: 20px;
  font-size: 15px;
  font-family: Open Sans;
  font-style: normal;
  cursor: pointer;
}

#remove_tab th {
  padding-left: 20px;
  font-size: 15px;
  font-family: Open Sans;
  font-style: normal;
  cursor: pointer;
}

#remove_tab:hover {
  color: red;
}

.bg-modal {
  width: 1245px;
  height: 100%;
  background-color: var(--background-dark-transparent);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 700px;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  padding-bottom: var(--spacing-rg);
  box-shadow: var(--dropshadow);
}

.modal_remove {
  width: 1245px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.remove-modal_content {
  width: 500px;
  height: 150px;
  background-color: white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}

.remove_title {
  text-align: center;
  padding-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #1f4173;
}

#sim_remove {
  margin-right: 30px;
  margin-top: 20px;
  width: 105px;
  margin-left: 125px;
  display: inline-block;
  height: 31px;
  background: rgba(31, 65, 115, 0.1);
  border: 1px solid #1f4173;
  box-sizing: border-box;
  border-radius: 5px;
}

#nao_remove {
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
  width: 105px;
  height: 31px;
  background: rgba(31, 65, 115, 0.1);
  border: 1px solid #1f4173;
  box-sizing: border-box;
  border-radius: 5px;
}

#sim_remove button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-left: 38px;
  padding-top: 4px;
  border: none;
  background-color: transparent;
}

#nao_remove button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-left: 38px;
  padding-top: 4px;
  border: none;
  background-color: transparent;
}

#sim_remove button:hover {
  color: green;
}

#nao_remove button:hover {
  color: red;
}

.adc_prod {
  text-align: center;
  padding-top: var(--spacing-rg);
  font-weight: var(--semi-bold);
  font-size: var(--font-l);
  color: var(--dark-blue);
}

.inf {
  display: block;
  font-weight: var(--light);
  font-size: var(--font-rg);
  line-height: var(--height-rg);
  color: var(--black);
  padding-left: 30px;
  padding-top: 40px;
}

.modal-input {
  border: 1px solid var(--black);
}

.modal-content textarea {
  margin-left: var(--spacing-rg);
}

#add_pop button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-left: 20px;
  padding-top: 4px;
  border: none;
  background-color: transparent;
}

#add_pop {
  margin-right: 30px;
  margin-top: 20px;
  float: right;
  width: 105px;
  height: 31px;
  background: rgba(31, 65, 115, 0.1);
  border: 1px solid #1f4173;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
}

#add_pop button:hover {
  color: green;
}

#close_pop {
  position: absolute;
  right: var(--spacing-rg);
  top: 6px;
  font-size: var(--font-xl);
  font-weight: var(--light);
  transform: rotate(45deg);
  cursor: pointer;
}
