@import url('./utils/variables.css');

.navbar {
  grid-area: navbar;
  background-color: var(--white);
  border: 1px solid black;
  height: 100vh;
  max-width: 175px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--spacing-rg) var(--spacing-rg) 0 0;
}

.nav__menu-items a {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-rg);
  color: var(--black);
}

.nav-logo__img {
  width: 142px;
}
