@import url('/src/stylesheets/utils/variables.css');

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-grey);
  box-sizing: border-box;
  /* overflow: hidden; */
  font-family: var(--font-family-01);
}
.grid {
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-areas: 'navbar content';
  gap: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--black);
}

a:hover {
  text-decoration: underline;
}
